@import url(https://fonts.google.com/specimen/Source+Sans+Pro);
@import url(https://fonts.google.com/specimen/Hurricane);
@import url(https://fonts.google.com/specimen/Jacques+Francois);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  border-bottom: 1px solid #562551;
  background-color: #BB92B7;
  background-position: 100%;
  align-items: center;
  align-content: center;
}

.header__logo {
  font-family: 'Hurricane';
  font-size: 50px;
  color: #562551;
  margin: 0 25px;
}

.header__linha {
  font-size: 50px;
  margin-left: 25px;
  color: #562551;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px 0 0 25px;
  padding: 0;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .25rem;
  content: "»";
}

body {
    background-image:url(/images/unhas.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
}

h1{
  font-family: 'Jacques Francois','Times New Roman', Times, serif;
  font-size: 60px;
  color: #562551;
  text-align: center;
  padding: 30px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.cliente{
  opacity: 0.7;
  width: 80%;
}

.funcionario {
  opacity: 0.7;
  width: 80%;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content:space-evenly;
  column-gap: 50px;
  padding: 20px 20px 20px 20px;
}

.servicoMao{
  width: 30%;
}

.servicoPe{
  width: 30%;
}

.servicoMaosPes{
  width: 30%;
}


p{
  font-family: 'Jacques Francois','Times New Roman', Times, serif;
  font-size: 25px;
  color: #562551;
  align-self: center;
}

form {
	margin: 30px 0;
  background: rgba(241, 241, 241, 0.43);
  width: 90%;
  margin-left: 50px;
  border: 2px solid rgba(86, 37, 81, 0.53);
  font-family: 'Jacques Francois';
    font-style: normal;
    font-size: 15px;
    color: #855a80;
  padding: 5%;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
  
}

.input-padrao {
	display: column;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

@media(max-width:480px){
  
  form{
      flex-direction: column;
      background: rgba(241, 241, 241, 0.43);
      margin-top: 5px;
      width: 90%;
      margin-left: 10px;
      border: 2px solid rgba(86, 37, 81, 0.53);
      font-family: 'Jacques Francois';
      font-style: normal;
      font-size: 15px;
      color: #22031f;
  }
  }