* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jacques Francois";
}

body {
  background-image: url("./Área\ do\ Profissional.png");
}
/* Menu */

header {
  /* position: absolute; */
  width: 100%;
  height: 83px;
  /* left: 0px;
  top: 0px; */
  background: #bb92b7;
  border: 2px solid #562551;
  display: flex;
  align-items: center;
}

.caixa {
  margin-left: 16px;
}

.barra-invertida {
  height: 50px;
  width: 2px;
  background-color: #562551;
  margin-left: 28px;
}

.ola {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin-left: 25px;

  color: #562551;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 420%;
  line-height: 106px;
  /* identical to box height */
  text-align: center;
  color: #562551;
}

.area-prof {
  /*display: flex;
  width: 15%;
  justify-content: space-around;*/
  margin-left: 40px;
}

.area-prof span {
  color: #83507e;
}

.principal {
  display: flex;
  justify-content: center;
}

.containers {
  width: 28.125rem;
}

.historico {
  display: flex;
}

.containers p:not(.informacoes p) {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  color: #562551;
}

.informacoes {
  height: 450px;
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #562551;
  border-radius: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.agendamento p,
.historico div p {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  padding-left: 16px;
}

.agendamento,
.historico {
  width: 418px;
  background: #ffffff;
  border: 1px solid #562551;
  border-radius: 1px;
}

button {
  margin-left: 134px;
}

@media(max-width:480px){
  
  form{
      flex-direction: column;
      background: rgba(241, 241, 241, 0.43);
      margin-top: 5px;
      width: 90%;
      margin-left: 10px;
      border: 2px solid rgba(86, 37, 81, 0.53);
      font-family: 'Jacques Francois';
      font-style: normal;
      font-size: 15px;
      color: #22031f;
  }
  }